<%- include('partials/header') %>

<div id="page-content-wrapper">
  <div class="container-fluid main-body px-4 bgmain">
    <div class="row g-3">
      <div class="col-xs-3 mx-auto">
        <div class="container">

        
          <div class="jumbotron text-center">
              <!-- <div class="container"> -->
                <h1><%= user.name %></h1>
                <hr>
       
                <form action="/secret" method="post">

                    <input type="text" name="collegename" value="<%= user.name %>" readonly>
                    
                    <div class="date">
                      <label for="">Date</label>

                      <select name="date" id="cars">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                      </select>
                    </div>

                    <div class="branch">
                      <label for="">Branch</label>
                      <select name="Branch" id="cars">
                        <option value="CSE">CSE</option>
                        <option value="CE">CE</option>
                        <option value="ME">ME</option>
                        <option value="CE">EE</option>
                        <option value="BBA">BBA</option>
                        <option value="MBA">MBA</option>    
                      </select>
                    </div>

                    <br>

                    <br>
                    <br>


                    <div class="details personal">
                      <div class="fields">

                        <div class="input-field">
                          <label for="">Total Students</label>
                          <input type="number" name="Total_Students">
                        </div>

                        <div class="input-field">
                          <label for="">Eligible_Students</label>
                          <input type="number" name="Eligible_Students">
                        </div>

                        <div class="input-field">
                          <label for="">PNR_Students</label>
                          <input type="number" name="PNR_Students">
                        </div>

                        <div class="input-field">
                          <label for="">Placed_Students</label>
                          <input type="number" name="Placed_Students">
                        </div>

                        <div class="input-field">
                          <label for="">Offer_Letters</label>
                          <input type="number" name="Offer_Letters">
                        </div>

                        <div class="input-field">
                          <label for="">Lowest_Package</label>
                          <input type="number" name="Lowest_Package">
                        </div>

                        <div class="input-field">
                          <label for="">Highest_Package</label>
                          <input type="number" name="Highest_Package">
                        </div>

                        <div class="input-field">
                          <label for="">Average_Package</label>
                          <input type="number" name="Average_Package">
                        </div>

                        <div class="input-field">
                          <label for="">No_of_Companies</label>
                          <input type="number" name="No_of_Companies">
                        </div>

                        
                        <button type="submit">go</button>
                      </div>
                    </div>

                </form>
        </div>
  </div>
  </div>
  </div>
  </div>

  <iframe  style="border: solid 2px red;" src="https://charts.mongodb.com/charts-auth-xcwit/public/dashboards/d4147292-2b03-4acc-ae8a-81853263879d" frameborder="0" width="1430" height="900"></iframe>
      
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    
    
    <a href="https://charts.mongodb.com/charts-auth-xcwit/public/dashboards/d4147292-2b03-4acc-ae8a-81853263879d">veiw chart</a>
    <!-- <iframe src="https://charts.mongodb.com/charts-auth-xcwit/public/dashboards/81859f33-21be-411c-8444-028ea9c35010" width="1200" height="500"></iframe> -->

<br>
     <!-- <%  posts.forEach(function(p){ %>
      <table>
        <tr>
          <th><%= p.date %></th>
          <th><%= p.Branch %></th>
          <th><%= p.Total_Students %></th>
          <th><%= p.Placed_Students %></th>
          <th><%= p.Highest_Package %></th>
      
          <a href="/delete/<%=p._id%>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </a>
          
          <a href="/update/<%=p._id%>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
          </a>
        </tr>
       </table> -->
     
      <!-- <%  })  %> -->


<div class="row my-5">
  <h3 class="fs-4 mb-3">placements Data</h3>
  <div class="col">
     <table class="table bg-white rounded shadow-sm  table-hover table-image">
        
           <%  posts.forEach(function(p){ %>
            <table style="border: 3px solid black">
              <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Branch</th>
                  <th scope="col">Total Student</th>
                  <th scope="col">placed student</th>
                  <th scope="col">Highest package</th>
                  <th>operation</th>
                </tr>
             </thead>

              <tr>
                <td scope="row"><%= p.date %></td>
                <td scope="row"><%= p.Branch %></td>
                <td scope="row"><%= p.Total_Students %></td>
                <td scope="row"><%= p.Placed_Students %></td>
                <td scope="row"><%= p.Highest_Package %></td>
            
                <td>
                  <a href="/delete/<%=p._id%>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </a>
                </td>
                
                <td>  
                  <a href="/update/<%=p._id%>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>
                  </a>
                </td>
              </tr>
             </table>
           
            <%  })  %>
      
       </tbody>


     </table>
  </div>
</div>
</div>

</div>
</div>


<%- include('partials/footer') %>






